@import "./responsive.less";
@import "./color.less";

* {
  box-sizing: border-box;
  font-family: Inter;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.button {
  border-radius: 40px;
  cursor: pointer;
  height: 58px;
  padding: 20px 40px;
  font-family: "Roboto Mono";
  font-size: 16px;
  line-height: 18px;
  border: 0;

  @media @phone, @tablet, @desktop1024 {
    height: 38px;
    padding: 10px 20px;
    font-size: 14px;
  }
  .hover;
}

.buttonSm {
  .button;
  height: 38px;
  padding: 10px 20px;
  font-size: 14px;
}

.hover {
  &:hover {
    opacity: 0.8;
  }
}

.primaryBtn {
  background-color: @color-primary;
  color: white;
  .button;
}

.primaryBtnSm {
  background-color: @color-primary;
  color: white;
  .buttonSm;
}

.secondaryBtn {
  background: transparent;
  color: @color-black;
  .button;
  border: 1px solid @color-black;
}

.secondaryBtnSm {
  background: transparent;
  color: @color-black;
  .buttonSm;
  border: 1px solid @color-black;
}

.flexstart {
  display: flex;
  justify-content: flex-start;
}

.flexend {
  display: flex;
  justify-content: flex-end;
}

.flexcenter {
  display: flex;
  justify-content: center;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
}
